@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --subtle: #a1a1aa;
  --border: #262626;
  --primary: #6366f1;
  --surface: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-subtle: var(--subtle);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary/20 selection:text-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight font-medium;
  }
}
